<%= @user_decorator.image %>

<%= @user_decorator.twitter_link %>

<h3>Name:</h3>
<p><%= @user_decorator.name %></p>

<h3>Username:</h3>
<p><%= @user_decorator.username%></p>

<h3>Email:</h3>
<p><%= @user_decorator.email %></p>

<h3>Website:</h3>
<p><%= @user_decorator.website %></p>

<h3>Github:</h3>
<p><%= @user_decorator.github %></p>

<h3>Twitter:</h3>
<p><%= @user_decorator.twitter %></p>

<h3>Bio:</h3>
<p><%= @user_decorator.bio %></p>
