<%= image_tag @user_decorator.image_url %>

<h3>Name:</h3>
<%= @user_decorator.name %>

<h3>Username:</h3>
<%= @user_decorator.username %>

<h3>Email:</h3>
<%= @user_decorator.email %>

<h3>Website:</h3>
<%= @user_decorator.website %>

<h3>Github:</h3>
<%= @user_decorator.github %>

<h3>Twitter:</h3>
<%= @user_decorator.twitter %>

<h3>Bio:</h3>
<%= @user_decorator.bio %>
